.activity {
  margin: 3% 10% 5% 10%;
}

.teaching {
  padding: 1%;
}

.entry-header {
  color: grey
}

.entry {
  padding-left: 4%;
}

.press-cards {
  color: grey;
  padding: 2%;
}

.card-img {
  height: 10vw;
  object-fit: cover;
}

.card-body {
  height: 150px;
  text-overflow: ellipsis;
  overflow: scroll;
}

.card-title {
  font-size: 1em;
}