.grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  justify-items: center;
  margin-top: 3%;
}

.grid-item1 {
  border: 1px solid;
  border-color: black;
  box-shadow: 10px 10px grey;
  width: 300px;
  height: 300px;
}

.grid-item2 {
  border: 1px solid;
  border-color: black;
  box-shadow: 10px 10px grey;
  width: 300px;
  height: 300px;
}

.document {
  font-size: 3em;
  text-align: center;
  padding-top: 50%;
}