.cv-container {
  margin: 5% 10% 5% 10%;
}

.grid-item {
  border: 1px solid;
  border-color: black;
  box-shadow: 10px 10px grey;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 3%;
}

.document {
  font-size: 3em;
  text-align: center;
  padding-top: 50%;
}