.about-border {
  margin-top: 3%;
  margin-bottom: 10%;
  min-height: 300px;
  background-image: url("https://s3-us-west-2.amazonaws.com/www.seanmills.website/smm-media/stellar-background.jpg");
  background-size: cover;
}

.about {
  width: 100%;
  padding: 2em;
  font-size: 20px;
  text-align: left;
  color: #f5f6fa;
}

.image-home {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 35%;
  height: auto;
  float: left;
  margin: 5% 2% 3% 2%;
  border-radius: 50%;
}