.nav-component {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-element {
  display: inline-block;
  padding: 1.7%;
  font-size: 2em;
  font-family: 'East Sea Dokdo', cursive;
}

.link {
  color: #0984e3;
}

.link:hover {
  text-decoration: none;
  color: #273c75;
}

.selected {
  padding-bottom: 8px;
  color: #273c75;
  border-bottom: 3px solid #273c75;
}