.research {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.bar {
  height: 1px;
  color: grey;
  background-color: grey;
}

.research-summary {
  text-align: left;
  font-size: 16px;
}

.publications {
  text-align: left;
  font-size: 16px;
}

.select-pub {
  margin-top: 5%;
}

[class*='col-'] {
  float: left;
  padding: 1em;
}

.col-3-5 {
  width: 60%;
}

.col-2-5 {
  width: 40%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}