.research {
  margin: 3% 10% 10% 10%;
  min-height: 500px;
}

.bar {
  height: 1px;
  color: grey;
  background-color: grey;
}

.research-summary {
  text-align: left;
  font-size: 16px;
}

.transit-link {
  font-size: 18px;
}

.publications {
  text-align: left;
  font-size: 16px;
}

.external-col {
  background-color: black;
  color: #f5f6fa;
  padding: 3%;
}

.select-pub {
  margin-top: 5%;
  border: solid 2px #273c75;
  padding: 3%;
  text-overflow: ellipsis;
}

[class*='col-'] {
  float: left;
  padding: 1em;
}

.col-3-5 {
  width: 60%;
}

.col-2-5 {
  width: 40%;
}